<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.github.io/templates/events/theme.css" type="text/css">
  <title>Live Demo</title>
  <meta name="description" content="An unique event to discuss about Pingendo and its features">
  <meta name="keywords" content="Pingendo conference event venue NYC">
    {% load static %}
  <script src="{% static 'javascript/map_control.js'%}"></script>
  <link rel="stylesheet" href="{% static 'css/map_container.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/input.css'%}" type="text/css">
</head>

<body class="text-center">
  <nav class="navbar navbar-expand-md bg-primary navbar-light">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/parkin_map/">Live Demo</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="d-flex align-items-center text-left h-75 bg-opaque mask-faded-out" id="cover" style="background-image: url(&quot;https://mydoglikes.com/wp-content/uploads/2014/06/IMG_2465.jpg&quot;);">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="display-2 text-white">Live Demo</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- Contains both the Google map and the Best Lot Picker UI -->
  <div class="container mapContainer">
    <div class="row">
      <form action="/parking_map/getCityMap" method="get">
        <label for="citySearchText">City Search</label>
        <input type="text" name="citySearchText"></input>
        <input type="submit" id="citySearchSubmit" value="Submit"></input>
        <input type="button" id="citySearchCancel" value="Cancel"></input>
      </form>
    </div>
    <div class="row" style="height:100%">
      <div class="col-md-10" id="map">
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?callback=initMap&v=3.28&key=AIzaSyDkUS9AyVvl6pJHT1bPdnlfHQI60iZOJ9E">
        </script>
      </div>
    </div>
  </div>
  <div class="col-md-8" style="">
    	<div class="container row" style="width:100%">
    	  <div class="col-md-4 formGroup">
	          <div class="row formUnit" style="padding-right: 20px">
	            <lable for="origin" style="padding-right: 47px">Origin</lable>
	            <input type="text" id="origin"></input>
	          </div>
	          <div class="row formUnit">
	            <lable for="destination" style="padding-right: 5px">Destination</lable>
	            <input type="text" id="destination"></input>
	          </div>
          </div>
          <div class="col-md-4 formGroup">
          	<div class="row">
	            <lable for="Distance From Origin" class="formUnit">Distance From Origin</lable>
	            <input type="range" name="distanceFromOriginWeight" id="distanceFromOriginWeight" value="1" min="0" max="2" data-type="range" type="number"></input>
	          </div>
	          <div class="row formUnit">
	            <lable for="Distance From Destination" class="formUnit">Distance From End</lable>
	            <input type="range" name="distanceFromDestinationWeight" id="distanceFromDestinationWeight" value="1" min="0" max="2"></input>
	          </div>
		</div>
		<div class="col-md-4 formGroup">
          	<div class="row">
				<lable for="Distance From Destination" class="formUnit">Parking Availability</lable>
				<input type="range" name="parkingAvailabilityWeight" id="parkingAvailabilityWeight" value="1" min="0" max="2"></input>
	        </div>
	            <div class="row">
	              <input type="button" name="bestLotSubmitButton" id="bestLotSubmitButton" value="Submit" onclick="submitBestLotPicker()"></input>
	              <input type="button" name="bestLotCancelButton" id="bestLotCancelButton" value="Cancel" onclick="cancelBestLotPicker()"></input>
	            </div>
			</div>
            </div>
    	</div>
  <!--
  <footer class="text-left bg-faded py-4 h-75" id="footer">
    <div class="container">
      <div class="row">
        <div class="my-3 col-lg-4 col-md-12">
          <h3 class="pi-item">Made by Collin Bolles</h3>
          <p>High School Student at Saratoga Springs</p>
          <ul class="">
            <li>collinbolles@gmail.com</li>
            <li>CollinBolles.om</li>
            <li>Stackoverflow skagra_dragneel</li>
          </ul>
        </div>
      </div>
    </div>
  -->
  </footer>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
  <script src="https://pingendo.com/assets/scripts/smooth-scroll.js"></script>
  <script src="https://pingendo.com/assets/scripts/slidein-images.js"></script>
</body>
</html>