.ui-slider-track
{
    width: 200%;
}

.inputLable
{
    padding-top: 15px;
    padding-right: 20px;
}

.formGroup
{
	padding-top: 5px;
	padding-bottom: 5px;
}

.formUnit
{
	padding-right: 10px;
	padding-left: 10px;
}